TouchMouseClient/*.iml
TouchMouseClient/.gradle
TouchMouseClient/local.properties
TouchMouseClient/.idea/caches
TouchMouseClient/.idea/libraries
TouchMouseClient/.idea/modules.xml
TouchMouseClient/.idea/workspace.xml
TouchMouseClient/.idea/navEditor.xml
TouchMouseClient/.idea/assetWizardSettings.xml
TouchMouseClient/.DS_Store
TouchMouseClient/build
TouchMouseClient/captures
TouchMouseClient/.externalNativeBuild
TouchMouseClient/.cxx
TouchMouseClient/local.properties

TouchMouseServer/target
TouchMouseServer/.idea
apps/build/

